[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = HCX
	email = 107817209+hopdot@users.noreply.github.com
[init]
	defaultBranch = master
